html {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 2px #00f;
    box-shadow: 0 0 0 6px #00f;
    outline: solid 4px #fff;
    vertical-align: middle;
}

footer {
    width: 600px;
    border-top: 2px solid blue;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: blue;
    padding: 10px;
    margin: 0px;
    border: 0px;
}

h2 {
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    border: 0px;
}

h3 {
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    border: 0px;
}
p {
    /* spacing before and after paragraphs*/
}

blockquote {

}

ul {

}

li {

}

cite {
    color: blue;
}

img {
    float: left;
    padding: 10px;
    margin: 0px;
    border: 0px;
}